/* ADMIN AREA */

/* Main Interface */
.cmd-wrapper{
	margin: 10px 0;
}
.input-wrapper{
	margin-bottom: 10px;
	position: relative;
	text-align: left;
}
.input-wrapper label{
	width: 150px; float: left; height: 1.2em;
	font-size: 1em;
}

.input-wrapper select{
	width:500px;
	border: 1px solid #c2c2c2;
	font-size: 1em;
}

.input-wrapper textarea{
	width: 100%;
	min-height: 300px;
	font-size:16px;
	line-height: 24px;
	background-image: url(../images/textarea.jpg);
	background-position: 0 2px;
	resize: none;
    overflow: hidden;
    border: none;
}

.textarea-wrapper{
	border: 1px solid #c2c2c2;	
	overflow-x: none;
	overflow-y: scroll;
	height: 300px;
}

.input-wrapper input[type=text], .input-wrapper input[type=password]{
	width: 500px;
	border: 1px solid #c2c2c2;
	padding: 1px 3px;
	text-align: left;
}

/* Toolbar */

#toolbar-wrapper{
	top: 0; left: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	border: 1px solid #b6b6b6;
	border-top: none;
	background-color: rgb(234,234,234);
	background-image: linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
	background-image: -o-linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
}

#toolbar{
	height: 38px;
}

#toolbar .logout{
	right: 10px; bottom: 8px;
	position: absolute;
}

#toolbar p{
	padding: 5px;
	font-size: 14px;
	margin: 0px;
}

#toolbar .info{
	margin-top: 5px;
	display: inline-block;
}

#page-details{
	padding: 10px;
	border-bottom: 1px dotted #c5c5c5;
	width: 100%;
	border-left: 45px solid #c5c5c5;
	padding-left: 15px;
}
.btn-pagedets-show{
	background-color: #c5c5c5;
	/*padding: 18px 22px 10px 23px;*/
	width: 45px; height: 44px;
	display: inline-block;
	margin-top: -10px;
	margin-left: -5px;
	vertical-align: top;
	cursor: pointer;
	margin-right: 10px;
	border: none !important;
	background-image: url(../images/cog.png);
	background-repeat: no-repeat;
	background-position: 9px 12px;
	line-height: 1em;
}
#page-details h3{
	margin-top: 5px !important; margin-bottom: 15px !important;
}

/* Extras */

.push{
	height: 139px !important;
}