#contact-form .input-wrapper label{
	width: 150px; 
	font-size: 1.1em;
	line-height: 1.3em;
	display: block;
}

#contact-form .input-wrapper{
	margin-bottom: 10px;
}

#contact-form .error-message{
	line-height: 25px;
	margin-left: 10px;
	vertical-align: top;
}

#contact-form .input-wrapper input{
	width: 500px;
	border: 1px solid #c2c2c2;
	padding: 1px 3px;
	text-align: left;
	font-size: 1em;
	font-family: Arial, helvetica;
}

#contact-form .input-wrapper textarea{
	width: 500px;
	min-height: 150px;
	font-size: 1em;
	font-family: Arial, helvetica;
	border: 1px solid #c2c2c2;
	resize: none;
}

.notification{
	width: auto; margin : 5px auto;
	max-width: 970px;
	padding: 5px;
	color: #fff;
	background-color: #008ced;
	font-weight: bold;
}

.notification .close-message{
	float: right;
	color: #fff !important;	
}