/*@font-face {
    font-family: Arial, helvetica;
    src: url(../fonts/Arial, helvetica.otf);
    font-weight: bold;
}*/

body,html{
	height: 100%;
	padding: 5px;
	font-family: Arial, helvetica;
	font-size: 14px;
}

h1{
	font-size: 40px;
	font-family: Arial, helvetica;
	margin-bottom: 24px;
	color: #c0232e;
}

h2{
	font-size: 32px;
	font-family: Arial, helvetica;
	margin-bottom: 18px;
	color: #c0232e;
}

h3{
	color: #c0232e;	
	font-size: 24px;
	font-family: Arial, helvetica;
	margin-bottom: 10px;
}

h4{
	font-size: 20px;
	font-family: Arial, helvetica;
	margin-bottom: 6px;
}

p{
	font-family: Arial, helvetica;
	margin-bottom: 0.6em;
	line-height: 1.4em;
}

a{
	text-decoration: none;
	color: #c0232e;
}

p > a{
	font-weight: bold;
	border-bottom: 1px dotted #c0232e;
}

strong, b{
	font-weight: bold;
}
em, i{
	font-style: italic;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup{
	top: -0.5em;
}
sub{
	bottom: -0.25em;
}

h1 a, h2 a, h3 a {
	font-weight: normal;
	color: inherit;
}

hr{
	border: none;
	border-bottom: 3px solid #fff;
	margin: 10px 0;
}

#content ul, .cke_editable ul{
	list-style: disc;
	margin-left: 30px;
	margin-bottom: 1.4em;
}

#content ol, .cke_editable ol{
	margin-left: 30px;
	list-style: decimal;
	margin-bottom: 1.4em;
}

#content li, .cke_editable li{
	line-height: 1.4em;
	margin-bottom:  0.4em;
	font-family: Arial, helvetica;
	font-size: 1em;	
}

/* :: Home Page :: */

.homepage-box{
	position: relative;
	width: 300px; height: 300px;
	overflow: hidden;
	float: left;
	margin-right: 30px;
	background-size: 100%;	
}
.cke_editable .homepage-box{
	margin-right: 10px;
}
.homepage-box .box-content{
	position: absolute;
	background-color: rgb(192,35,46);	
	background-color: rgba(192,35,46,0.8);
	padding: 15px;
	color: #e7e7e7; 
	top: 160px;
	height: 110px;
	width: 270px;
	z-index: 1;
	border-radius: 0 0 10px 10px;		
	behavior: url(/Site/assets/css/PIE.htc);	
}
.homepage-box img{
	position: absolute;
	border-radius: 10px;	
	behavior: url(/Site/assets/css/PIE.htc);
}
.homepage-box h1, .homepage-box h2, .homepage-box h3, .homepage-box-de h1{
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 5px;
	color: #fff;
}

.homepage-box-de h1{
	font-size: 18px;
}

.homepage-box p{
	margin: 0;
	font-size: 13px;
}

.homepage-box.last{
	margin-right: 0px;
}

.homepage-box .box-link{
	background-color: #d0d0d0;
	padding: 10px;
	position: absolute;
	top:0px;
	right: 0px;
	color: #c0232e;
	text-decoration: none;
	font-size: 20px; line-height: 18px;
	width: 15px; height: 15px;
	text-align: center;
	font-weight: bold;
}

.clear{
	clear: both;
}