body{
	background-color: #fff;
}

#page-wrapper{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: -150px;
	padding: 6px;	
}

#page-wrapper b{
  font-weight: bold;
}

#header-wrapper{
	height: 115px;
	padding-top:50px;
}

#mid-wrapper{
	clear: both;
	margin-top: 30px;
}

#company-address{
	float: right;
}

#company-address p{
	line-height: 1.2em;
}

#policy-info{
	float: right;
	width: 300px;	
	margin-right: 32px;
}

#policy-info td{
	padding: 3px;
}

#client-info{
	
	
}

.logo-title{
  display: block;
  font-size: 14pt;
  margin-left: 10px;
}

#assets-info{
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
}


table {
	width: 100%;
	text-align: left;
}

table td,
table th{
	background-color: white;
}

.cellNumber{
	text-align: right;
}

.cellDate,
.cellCurrency{
	text-align: center;
}

.push{
	height: 150px;
}

table th{
	font-weight: bold;
	text-align: left;
}

#assets-info table{
	margin-top: 20px;
}

#assets-info td{
	border: 1px solid black;
	margin: 3px;
}

#assets-info td, th{	
	padding: 5px;
}
	
#footer {
	width: 800px;
	vertical-align: bottom;
}

.grpInfo{
	font-weight: bold;
	text-align: right;
}

