.input-wrapper,
.input-wrapper label,
.input-wrapper select,
.input-wrapper input[type=text]{
	display: inline;
	font-size: 11px;
}
.input-wrapper select,
.input-wrapper input[type=text]{
	width: 200px;
	margin-right: 30px;
}

table {
	width: 100%;
	border: 1px solid black;
	margin-top: 20px;
	text-align: left;
}

table tbody tr:nth-child(even) {background: #FFF}
table tbody tr:nth-child(odd) {background: #e5ebf0}

.even {background: #FFF}
.odd {background: #e5ebf0}

table td,
table th{
	border: 1px solid black;
	padding: 6px;	
	font-size: 11px;
}

table th{
	background-color: #003f6b;
	font-weight: bold;
	text-align: center;
	color: white;
}

.cellNumber{
	text-align: right;
}
 
.cellDate,
.cellCurrency{
	text-align: center;
}

.menu-list{
	text-align: left !important;
}

.grpInfo{
	font-weight: bold;
	text-align: right;
}

.discliamer{
	font-size: 8pt;
}

#search-form{
	display: none;
}

#header{
	height: 112px;
}

.logo-title{
  display: block;
  font-size: 14pt;
  margin-left: 10px;
}