#slider{
	width: 1200px; height: 270px;
	margin-left: -120px;
	margin-bottom: 30px;
}

.slide-overlay{
	position: absolute;
	width: 230px;
	height: 200px;
	left: 120px; top:0;
	background-color: rgb(192,35,46);
	background-color: rgba(192,35,46,0.80);
	padding: 25px;
	color: #fff;
	font-size: 16px;
	line-height: 1.4em;
}		

.slide-overlay h1{
	color: #fff;
	font-size: 32px;
	margin: 5px 0 10px;
}

.slide{
	position: absolute;
	z-index: 2500;
	width: 1200px; height: 250px; /*340*/
	background-size: 100%;
	border-radius: 10px;
	background-position: center center;
	behavior: url(/Site/assets/css/PIE.htc);
}

.slide-navigation{
	position: absolute;
	bottom: 15px; right: 25px;
	z-index: 5000;
}
.slide-navigation a{
	display: inline-block;
	text-decoration: none;
	width: 10px; height: 10px;
	border-radius: 13px;
	border: 3px solid #fff;
	margin-left: 2px;
	behavior: url(/Site/assets/css/PIE.htc);
}

.slide-navigation a.active{
	background-color: #fff;	
}

.slide-caption{
	position: absolute;
	font-size: 56px;
	line-height: 72px;
	color: #fff;
	text-shadow: #000 2px 2px 10px;
	top: 55px;
	left: 480px;
}

@media (max-width: 1240px) {
	.slide, #slider{
		width: 1000px;
		height: 282px;
	}
	#slider{
		margin-left: -20px;
	}
	.slide-overlay{
		height: 232px;
		left: 30px;
	}
	.slide-caption{
		font-size: 50px;
		line-height: 68px;
		top:75px; left: 380px;
	}
}