/* :: DOCUMENT :: */
body,html{
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0px !important;
}

body{
	background-color: #f0f0f0;
}

/* :: PAGE :: */
#page-wrapper{
	position: relative;
	height: auto !important; min-height: 100%;
	margin-right: auto; margin-left: auto;
	margin-bottom: -100px;
	z-index: 1;
}

/* :: HEADER :: */
#header-wrapper{
	background-color: #fff;
}
#header{
	position: relative;
	height: 100px;
	width: 960px;
	margin: 0 auto;
}

#logo{
	display: inline-block;
	background-image: url(../images/logo.png);
	width: 145px; height: 75px; margin-top:15px;
}

/* :: TOP MENU :: */
#menu-wrapper{
	background-color: #c0232e;
	height: 49px;
	border-bottom: 3px solid #fff;
}
#menu-wrapper .menu-list{
	width: 1000px;
	margin:0 auto;
	text-align: center;
}
#menu-wrapper .menu-list li{
	margin: 0 15px;
	vertical-align: top;
	position: relative;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#menu-wrapper .menu-list a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding: 18px 5px;
	text-align: center;
	margin: 0;
}

#menu-wrapper .menu-list a:hover, #menu-wrapper .menu-list a.active{
	color: #000;

}

#menu-wrapper .menu-list a.active:after{
	content:" ";
	display: block;
	background-image: url(../images/triangle.png);
	width: 60px; height: 24px;
	margin: 17px auto 0;
}

#submenu-wrapper {
	width: 180px;
	float: left;
}
#submenu-wrapper .menu-list li {
	position: relative;
	background-color: #a7a7a7;
	margin-bottom: 5px;
}
#submenu-wrapper .menu-list a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: #f0f0f0;
	font-size: 14px;
	padding: 9px 5px 9px 15px;
	text-align: left;
	margin: 0;
}

#submenu-wrapper .menu-list a:hover, #submenu-wrapper .menu-list a.active{
	color: #fff;
	background-color: #c0232e;	
}

#submenu-wrapper .menu-list a.active:after{
	content:" ";
	width: 0; 
	height: 0; 
	border-top: 16px solid #f0f0f0;
	border-bottom: 16px solid #f0f0f0;
	border-left: 16px solid #c0232e;
	left: 180px;
	top: 0px;
	position: absolute;
}

/* :: CONTENT :: */
#content-wrapper{
	width: 960px;
	margin: 30px auto;
}
#content{
	position: relative;
}
#content.hassubmenu{
	margin-left: 220px;
}

/* :: FOOTER :: */
#footer{
	position: relative;
	width: 960px;
	height: 100px;
	margin: 0 auto;
	z-index: 1;
	color: #fff;
}
#footer hr{
	margin: 0;
	border: none; border-top: 1px solid #c0232e;
	box-shadow: 0px -1px 10px 1px #999;
}
#footer p{
	color: #9b9b9b;
	font-size: 12px; line-height: 17px; margin: 0;
	text-align: center;
}

#disclaimer p{
	text-align: left;
	color: #000;
}

#footer .menu-list{
	text-align: center;
	height: 52px;
}
#footer .menu-list li{
	padding: 20px 0px;
	vertical-align: top;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
#footer .menu-list li.last > a{
	border-right: none;
}
#footer .menu-list a{
	font-size: 12px;
	color: #A72631;
	text-decoration: none;
	border-right: 1px solid #A72631;
	padding: 0px 40px;	
}

#imagelink{
	display: block;
	position: absolute;
	right: 30px; top:7px;
	width: 62px; height: 22px;
	background-image: url(../images/image.png);
}

/* :: EXTRA :: */
.push{ height: 100px; }
.clear{ clear: both; }
.reset{ margin: 0; padding: 0;}
.right{ float: right; }
.left{ float:left; }
.hidden{ display: none;}
.error-message{ color: red;}

/* :: Search :: */

#search-form {
	top:40px;
	right: 0px;
	position: absolute;
	border: 1px solid #A72631;
	width: 340px;
	height: 38px;
}

#search-form input {
	outline: none; border: none; background-color: transparent;
	padding: 9px;
	font-size: 14px;
	width: 300px;
}

#search-form button {
	position: absolute;
	width: 34px; height: 26px;
	border: none; 
	background-image: url('../images/search.png'); background-color: #fff;
	background-repeat: no-repeat; background-position: center right;
	right: 4px; top: 6px;
	border-left: 1px solid #646464;
	cursor: pointer;
}
#search-page-list{
	margin:0 !important;
}
#search-page-list li{
	list-style: none;
	margin-bottom: 15px !important;
}
#search-page-list h3{
	font-size: 20px;
}

/* :: Forms :: */

.input-wrapper label{
	width: 150px; 
	font-size: 1.1em;
	line-height: 1.3em;
	display: block;
}

.input-wrapper{
	margin-bottom: 10px;
}

.error-message{
	line-height: 25px;
	margin-left: 10px;
	vertical-align: top;
}

.input-wrapper input[type=text], .input-wrapper input[type=password]{
	width: 500px;
	border: 1px solid #c2c2c2;
	padding: 1px 3px;
	text-align: left;
}

.btnok{
	padding: 5px 10px;
	color: #0e0e0e !important;
	cursor: pointer;
	border: 1px solid #b6b6b6 !important;
	background-color: rgb(234,234,234);
	background-image: linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
	background-image: -o-linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(207,209,207) 0%, rgb(234,234,234) 100%);

	-webkit-box-shadow: 0px 1px 2px rgba(200, 200, 200, 0.75);
	-moz-box-shadow:    0px 1px 2px rgba(200, 200, 200, 0.75);
	box-shadow:         0px 1px 2px rgba(200, 200, 200, 0.75);
	font-weight: normal;
	vertical-align: middle;
	font-size: 1em;
	line-height: 1em;
	font-family: Arial;
	display: inline-block;
}

.btnok:not(.disabled):hover{
	background-color: rgb(255,255,255);
	background-image: linear-gradient(bottom, rgb(229,229,229) 0%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(229,229,229) 0%, rgb(255,255,255) 100%);
}


.logo-title{
  display: none;
}

.lang-flag-de, 
.lang-flag-en {
	top: 24px;
	right: 0px;
	position: absolute;
	height: 13px;
	width: 19px;
}

.lang-flag-en{
	right: 22px;
}

.resourceItem{
	width: 100%;
	min-height: 100px;
	background-color: white;
	margin-bottom: 5px;
	padding: 10px;
	color: black;
}

.resourceLogout{
	float: right;
	/*margin-top: 1.5em;*/
}

.resourceItem  h1{
	font-size: 20px;
	margin-bottom: 8px;
}

.resourceItem label{
	width: 13%;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	clear: left;
	box-sizing:border-box;
}

.resourceItem select,
.resourceItem textarea,
.resourceItem input[type="text"]
{
	padding: 5px;
	width: 87%;
	box-sizing:border-box;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	resize: none;
	outline: none;
}


.resourceItem input[type="text"]{
	width: 77%;
}
.resourceItem button,
.resourceItem a.download{
	width: 10%;
	padding: 7px;
	color: white;
    background-color: #c0232e;
	display: inline-block;
	box-sizing:border-box;
	text-align: center;
}
.resourceItem button{
	padding: 5px;
	border:none;
	width: auto;
}

.resourceError{
	color: #c0232e;
}

.resource-category{
	word-break: break-all;
	display: inline-block;
	padding: 10px;
	background: white;
	width: 445px;
	margin: 0 5px 10px;
	vertical-align: top;
}

.resource-subcategory i{
	margin-left: 5px;
}

.resource-subcategory h5{
	font-size: 1.2em;
	margin: 0.5em 0 0.2em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #ccc;
}

.resource-category a{
	font-size: 0.9em;
	font-weight: 500;
	line-height: 130%;
}

.resource-category h4{
	font-size: 1.4em;
	margin: 0 0 0.4em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #ccc;
}
.resource-category p{
	margin: 0 0 5px;
}

.resource-category i{
	background-image: url(../images/pdf-icon.png);
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.resource-category i.excel{
   background-image: url(../images/xls-icon.png);
}

#login-pane{
	width: 500px;
	margin: 40px auto;
	background: white;
	padding:30px;
}

#login-pane input[type=password],
#login-pane input[type=text]{
	width: 100%;
	padding: 5px;
	box-sizing:border-box;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	resize: none;
	outline: none;
}

#login-pane label{
	margin-bottom: 5px;
}